/* ==================   gallery-photos burger section styles ================== */

.gallery-photos {
    background: var(--global-background-color);
    margin-top: 78px;
}

.gallery-photos .container {
    max-width: 1263px;
}

.infographic {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 596px;
    margin: 10px auto;
}

.infographic p {
    top: 24px;
    left: 24px;
    font-size: clamp(.9375rem, 2vw, 1.5625rem);
    color: #FFFFFF;
    font-family: var(--global-primary-font-family);
    position: absolute;
    line-height: clamp(.9375rem, 3vw, 35px);
    font-weight: 700;
}

.infographic p span {
    display: block;
    font-size: clamp(1.25rem, 3vw, 2.625rem);
    line-height: clamp(25px, 4vw, 2.375rem);
    color: #ffffff;
    font-weight: 700;
}


/* ======================  MEDIA QUERIES ========================== */


/* resolution greater than or equal to 768px */

@media (min-width: 48rem) {
    .infographic {
        margin: 5px;
    }
    .gallery-photos .container {
        display: flex;
        justify-content: space-between;
    }
}


/* resolution greater than or equal to 1400px */

@media (min-width: 87.5rem) {
    .infographic {
        margin: 0;
    }
}