/* ==================   header section styles ================== */

.heading {
    position: fixed;
    z-index: var(--global-z-fixed);
    width: 100%;
}

.container {
    max-width: 84.875rem;
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

.container--heading {
    padding-top: var(--global-padding-top-heading);
    padding-bottom: var(--global-padding-top-heading);
    display: flex;
    flex-wrap: wrap;
}

.heading input {
    display: none
}

.heading .heading__logo {
    max-width: min(100%, 40vw);
}

.heading .heading__toggle {
    display: flex;
    justify-content: flex-end;
}

.heading .heading__logo,
.heading .heading__toggle {
    min-width: 50%;
}

.heading .heading__toggle span {
    cursor: pointer;
    font-size: 1.875rem;
}

.heading .heading__toggle span:last-child {
    display: none;
}

.heading #navbar-toggle:checked~.heading__toggle span:first-child {
    display: none;
}

.heading #navbar-toggle:checked~.heading__toggle span:last-child {
    display: block;
}

.heading #navbar-toggle:checked~.navbar {
    display: block;
}

.navbar {
    flex-basis: 100%;
    display: none;
    background-image: url('/assets/img/design/background\ header.png');
}

.navbar .navbar__phone {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: .625rem auto;
}

.navbar .navbar__phone img {
    max-width: min(100%, 6vw);
    margin-right: .625rem;
}

.navbar .navbar__phone p {
    color: var(--global-color-secondary);
    font-family: var(--global-secondary-font-family);
    font-size: clamp(.8125rem, 2.5vw, 1.0625rem);
    font-weight: 700;
    letter-spacing: 0.4px;
}

.navbar .navbar__phone p a:link {
    color: var(--global-color-secondary);
}

.navbar ul li:last-child {
    margin-right: -12px;
}

.navbar ul li a {
    border-radius: .3125em;
    color: var(--global-color-secondary);
    display: block;
    font-family: var(--global-primary-font-family);
    font-weight: 700;
    font-size: clamp(1rem, 2.5vw, 1.3125rem);
    letter-spacing: .25rem;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: var(--global-background-color);
    background: var(--global-color-primary);
}


/* change header background after scrolling */

.heading--background {
    background-image: url('/assets/img/design/background\ header.png');
}


/* ======================  MEDIA QUERIES ========================== */


/* screen resolution greater than or equal to 576px */

@media (min-width: 36rem) {
    /* shrink container padding after scrolling */
    .container--shrink {
        padding-top: calc(var(--global-padding-top-heading)/3);
        padding-bottom: calc(var(--global-padding-top-heading)/3);
    }
}


/* screen resolution greater than or equal to 992px */

@media (min-width: 62rem) {
    .heading .heading__toggle {
        display: none;
    }
    .heading .heading__logo {
        min-width: auto;
    }
    .container--heading {
        display: flex;
        justify-content: space-between;
    }
    .navbar {
        display: block;
        padding-bottom: 0em;
        flex-basis: auto;
        background-image: none;
    }
    .navbar .navbar__phone {
        justify-content: right;
        margin: 0;
    }
    .navbar .navbar__phone--hide {
        display: none;
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 30.8rem;
        margin-top: 1.25rem;
    }
}